@page
@model Solar.Pages.Ekstern.ProjectStepTwoModel
@{
}
<main class="main-container">
    <section class="user-container">
        <section class="new-project-header-section">
            <svg class="logo-user-section" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Solar_logo" x="0px" y="0px" viewBox="0 0 283.5 92.2" style="enable-background:new 0 0 283.5 92.2;" xml:space="preserve">
            <g>
            <path class="st0" d="M120.5,31.7c-2.2-3.2-5.2-5.8-9.3-7.7c-4-1.9-9.5-2.8-16.4-2.8c-6.9,0-12.3,0.9-16.4,2.8   c-4,1.9-7.1,4.5-9.2,7.7c-2.1,3.2-3.5,7-4.1,11.3c-0.6,4.3-1,8.9-1,13.8c0,4.9,0.3,9.5,1,13.8c0.6,4.3,2,8.1,4.1,11.3   c2.1,3.2,5.2,5.8,9.2,7.6c4,1.8,9.5,2.8,16.4,2.8c6.9,0,12.3-0.9,16.4-2.8c4-1.8,7.1-4.4,9.3-7.6c2.1-3.2,3.5-7,4.1-11.3   c0.6-4.3,0.9-8.9,0.9-13.8c0-4.9-0.3-9.5-0.9-13.8C124,38.7,122.7,34.9,120.5,31.7z M112.8,67.6c-0.3,3.2-1,6-2.2,8.3   c-1.2,2.3-3,4-5.5,5.3c-2.4,1.2-5.9,1.9-10.3,1.9c-4.4,0-7.8-0.6-10.2-1.9c-2.4-1.2-4.2-3-5.4-5.3c-1.2-2.3-1.9-5-2.2-8.3   c-0.3-3.2-0.4-6.9-0.4-10.9c0-4,0.1-7.7,0.4-11c0.3-3.3,1-6,2.2-8.3c1.2-2.3,3-4,5.4-5.3c2.4-1.2,5.8-1.9,10.2-1.9   c4.4,0,7.8,0.6,10.3,1.9c2.5,1.2,4.3,3,5.5,5.3c1.2,2.3,1.9,5.1,2.2,8.3c0.3,3.3,0.4,6.9,0.4,11C113.2,60.8,113,64.4,112.8,67.6z" />
            <path class="st0" d="M230.4,31.8c-0.5-1.4-1.2-2.8-2.1-4c-0.9-1.2-2.2-2.3-3.9-3.3c-2-1-4.5-1.8-7.5-2.5c-3.1-0.6-6.9-0.9-11.5-0.9   c-3,0-5.9,0.2-8.8,0.5c-2.8,0.3-5.5,0.7-7.9,1.1c-2.4,0.4-4.5,0.9-6.3,1.4c-1.8,0.5-3.2,0.8-4.3,1.1c-0.9,0.3-1.4,0.8-1.4,1.5   c0,0.2,0,0.5,0.1,0.9l1.3,5.9c0.1,0.7,0.5,1,1.2,1c0.2,0,0.5,0,0.9-0.1c2.5-0.6,5.8-1.4,9.9-2.3c4.1-0.9,8.6-1.4,13.5-1.4   c5.3,0,9.1,0.4,11.3,1.3c2.1,0.9,3.4,2,3.9,3.5c0.4,1.5,0.6,3.2,0.6,5.2v5.7L194,50.8c-2.8,0.5-5.5,1.1-8.1,1.6   c-2.5,0.6-4.7,1.5-6.6,2.9c-1.9,1.4-3.3,3.2-4.4,5.6c-1.1,2.4-1.6,5.6-1.6,9.7c0,5.2,1,9.3,3,12.2c2,2.9,4.5,5,7.5,6.4   c3,1.4,6.3,2.2,9.7,2.5c3.5,0.3,6.7,0.5,9.6,0.5c3.5,0,6.7-0.2,9.7-0.6c2.9-0.4,5.4-0.8,7.4-1.2c2.2-0.5,4.1-1.1,5.5-1.7   c1.4-0.6,2.6-1.4,3.4-2.3c0.9-0.9,1.4-2.1,1.7-3.6c0.3-1.5,0.5-3.4,0.5-5.7v-36c0-1.6,0-3.2-0.1-4.8   C231.1,34.7,230.9,33.2,230.4,31.8z M219.5,81.1c-2.4,0.8-5,1.3-7.7,1.7c-2.8,0.3-5.5,0.5-8.3,0.5c-2,0-4-0.1-6.1-0.3   c-2.1-0.2-4-0.8-5.7-1.6c-1.7-0.9-3.1-2.1-4.3-3.9c-1.1-1.7-1.7-4.1-1.7-7.2c0-2.3,0.3-4.1,1-5.5c0.6-1.3,1.5-2.4,2.5-3.1   c1-0.7,2.2-1.2,3.5-1.5c1.3-0.3,2.7-0.6,4.2-0.8l22.6-3.7V81.1z" />
            <path class="st0" d="M282.4,21.5c-0.7-0.2-1.2-0.3-1.7-0.3h-2.1c-1.7,0-3.6,0.1-5.7,0.3c-2.1,0.2-4.2,0.4-6.4,0.8   c-2.2,0.3-4.2,0.8-6.3,1.3c-2,0.5-3.8,1.1-5.4,1.7c-2.5,1-4.2,2.1-5.1,3.3c-0.9,1.2-1.4,3.1-1.4,5.9v54.3c0,1.3,0.6,1.9,1.9,1.9   h8.1c1.3,0,1.9-0.6,1.9-1.9V33.5c3.2-0.9,6.5-1.5,10.1-1.8c3.5-0.3,7.4-0.5,11.5-0.5c0.9,0,1.4-0.6,1.4-1.7v-6.3   C283.5,22.3,283.1,21.7,282.4,21.5z" />
            <path class="st0" d="M163.1,82.3c-0.2,0-0.4,0-0.8,0.1c-0.4,0.1-1,0.2-1.7,0.3c-0.7,0.1-1.6,0.2-2.5,0.2c-1.3,0-2.6-0.3-3.8-1   c-1.2-0.6-1.9-2.1-1.9-4.5V2.2c0-1.5-0.7-2.2-2.1-2.2h-7.7c-1.5,0-2.2,0.7-2.2,2.2V78c0,4.9,1.2,8.5,3.7,10.8   c2.5,2.3,5.9,3.4,10.3,3.4c2.6,0,4.7-0.2,6.4-0.6c1.7-0.4,2.8-0.8,3.4-1c0.8-0.3,1.1-0.9,1-1.8l-1.2-5.5   C164.1,82.6,163.7,82.3,163.1,82.3z" />
            <path class="st0" d="M28.6,50.8c-7.7-1-16.1-1.8-16.1-10.2c0-7.7,7.5-10.1,16.1-10.1c7.4,0,16.5,2.2,18.3,2.3   c0.7,0.1,1.4-0.1,1.5-0.9l1-6.2c0.2-0.9-0.4-1.7-1.4-1.9c-1.5-0.4-9.9-2.7-20.9-2.7c-11.5,0-26.6,3.2-26.6,20.4   C0.6,58.7,16.4,60,23.1,61C32.5,62.6,40,62.3,40,72.2c0,7.5-6.1,10.6-16.1,10.6c-10.2,0-19.2-3.2-20.5-3.5c-1.3-0.3-1.9,0.4-2.1,1   c0,0-1.1,4.6-1.2,5.4c-0.2,0.8,0,1.9,1,2.3c1.8,0.6,11.9,4.3,23.1,4.3c15.1,0,27.9-4.4,27.9-21.2C52,53.8,40,52.4,28.6,50.8z" />
                    </g>
                    </svg>
            <div class="user-steps-container">
                <h2>Projekt : @Model.CaseData.CaseName</h2>
                <p>@Model.CaseData.Address Step 2/5</p>
            </div>

            <div class="loggedin-user-container">
                <div class="loggedin-user-info-container">
                    <p>@Model.LoggedinUser.Installer.Department</p>
                    <p>@Model.LoggedinUser.Installer.Installer1</p>
                </div>
                <svg class="user-avatar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 57 57" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="Artboard1" x="0" y="-0" width="57" height="57" style="fill:none;" /><g><circle cx="28.681" cy="28.681" r="26.681" style="fill:#a2cdec;" /><path d="M28.681,1.293c-15.116,0 -27.388,12.272 -27.388,27.388c0,15.115 12.272,27.387 27.388,27.387c15.115,0 27.387,-12.272 27.387,-27.387c0,-15.116 -12.272,-27.388 -27.387,-27.388Zm-0,0.707c14.725,0 26.681,11.955 26.681,26.681c-0,14.725 -11.956,26.681 -26.681,26.681c-14.726,-0 -26.681,-11.956 -26.681,-26.681c-0,-14.726 11.955,-26.681 26.681,-26.681Z" style="fill:#003970;" /><g><ellipse cx="28.681" cy="22.337" rx="11.334" ry="11.445" style="fill:#fff;" /><path d="M13.734,49.125c-1.153,-0.745 -1.035,-3.706 -1.035,-4.242c-0,-5.31 2.544,-10.024 6.469,-12.966c2.433,2.464 5.798,3.99 9.513,3.99c3.715,-0 7.079,-1.526 9.513,-3.99c3.924,2.942 6.469,7.656 6.469,12.966c-0,0.536 0.181,3.753 -0.972,4.498c-2.663,1.721 -7.087,4.742 -15.01,4.742c-7.348,-0 -12.283,-3.277 -14.947,-4.998Z" style="fill:#fff;" /></g></g></svg>
            </div>
        </section>
        <section class="new-project-section ">
            <form method="post">
                <h2>Batteri</h2>
                <div class="form-group-1">
                    <div class="form-group-dates">
                        <label>Forbereds til batteri</label>
                        <label asp-for="@Model.ProjectData.Battery.BatteryPrepare">
                            <input asp-for="@Model.ProjectData.Battery.BatteryPrepare"  type="checkbox">
                            <span>Ja</span>
                        </label>
                    </div>
                    <div class="form-group-dates">
                        <label>Batteri ønskes</label>
                        <label>
                            <input type="checkbox">
                            <span>Ja</span>
                        </label>
                    </div>
                    <div class="form-group-dates">
                        <label>Størrelse</label>
                        <label asp-for="@Model.ProjectData.BatteryRequest.Capacity">
                            <input asp-for="@Model.ProjectData.BatteryRequest.Capacity" type="number" class="short-input-box">
                            <span>
                                kWh
                            </span>
                        </label>
                    </div>
                </div>
                <section class="schema-footer-container">
                    <div class="schema-btn-container">
                        <span><--</span>
                        <a asp-page="/Ekstern/ProjectStepOne" class="form-step-button">Tilbage</a>
                    </div>
                    <div class="slash-middle-container">
                        <span>/</span>
                    </div>
                    <div class="schema-btn-container">
                        <button class="form-step-button">Næste</button>
                        <span>--></span>
                    </div>
                </section>
            </form>
        </section>
    </section>
</main>